
<% @body_class = 'index' %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

  <a class="navbar-brand active" href="#">HelloMusic</a>

  <!-- <ul class="nav navbar-nav">
    <li class=""><a id="navMusic" href="#">Music</a></li>
    <li class=""><a id="navNews" href="#">News</a></li>
    <li class=""><a id="navStats" href="#">Stats</a></li>
  </ul> -->

  <ul class="nav pull-right" style="padding-right:30px; padding-top:8px;">
    <li><button class="btn btn-default" data-nav="admin-manage-songs" >Manage Songs</button></li>
  </ul>
  <ul  class="nav pull-right" style="padding-right:10px; padding-top:8px;">
    <li><button class="btn btn-default" data-nav="admin-reports">Reports</button></li>
  </ul> 
  </div><!-- /nav container -->
</nav>