<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

  <a class="navbar-brand active" href="#">HelloMusic</a>

  <ul class="nav pull-right" style="padding-right:30px; padding-top:8px;">
    <li><button class="btn btn-default" data-nav="admin-manage-songs" >Manage Songs</button></li>
  </ul>

  <ul  class="nav pull-right" style="padding-right:10px; padding-top:8px;">
    <li><button class="btn btn-info" data-nav="admin-reports">Reports</button></li>
  </ul>

  </div><!-- /nav container -->
</nav>	

<div id="reports" class="container-fluid">
	<div class="row"></div>
  <div class="row">
  	<div class="col-xs-1"></div>
		<div class="col-xs-2">
			<ul class="nav nav-pills nav-stacked">
			  <li class="active"><a href="#">Latest</a></li>
			  <li><a href="#">Trending</a></li>
			  <li><a href="#">Artists</a></li>
			  <li><a href="#">Albums</a></li>
			  <li><a href="#">Songs</a></li>
			</ul>
		</div>
		<div class="col-xs-1"></div>
		<div id="results" class="col-xs-8">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</div>
