<div id="header">
  <!-- HEADER CONTAINER-->
</div>

<div id="page">

  <div id="sidebarLeft">
  </div>

  <div id="pageContent">
  </div>

  <div id="sidebarRight">
  </div>

</div>

<div id="footer">
  <!-- FOOTER CONTAINER-->
</div>