<% @body_class = 'index' %>
<div class="row">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container">

    <a id="brandHelloMusic" class="navbar-brand active" href="#">HelloMusic</a>

    <ul class="nav navbar-nav">
      <li class=""><a id="navMusic" href="#">Library</a></li>
      <li class=""><a id="navNews" href="#">News</a></li>
      <li class=""><a id="navStats" href="#">Store</a></li>
    </ul>

    <ul class="nav pull-right" style="padding-right:30px; padding-top:8px;">
      <li><button id="btnLogout" class="btn btn-default" >Logout</button></li>
    </ul>
        
    </div><!-- /.navbar-inner -->

  </div><!-- /.navbar -->
</nav>

<!-- New Nav Incmpete

 <nav class="nav-fillpath">
          <a class="prev" href="/item1">
            <span class="icon-wrap"></span>
            <h3><strong>Danny</strong> Fleming</h3>
          </a>
          <a class="next" href="/item3">
            <span class="icon-wrap"></span>
            <h3><strong>Susan</strong> Walter</h3>
          </a>
        </nav>
  -->


<!-- SCREENS -->
</div>
  <div class="container">
    <div id="home" class="col-xs-12">
       <div id="sidebarLeft">
        <label class="left" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      </div>
      <div id="stage">
        <div id="loginAbout" data-scene="0" data-layer="0">
          <div class="container">
          </div>
        </div>
        <div  id="loginWelcome"  data-scene="1" data-layer="0">
          <div class="container">
          </div>
        </div>
        <div id="loginExtra"  data-scene="2" data-layer="0">
          <div class="container">
          </div>
        </div>
      </div>
       <div id="sidebarRight">
        <label  class="right" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      </div>
  </div>
  <!-- PLAYER -->
<div id="player">
  <div id="jquery_jplayer_1" class="cp-jplayer"></div>
  <div class="prototype-wrapper"> <!-- A wrapper to emulate use in a webpage and center align -->
    <!-- The container for the interface can go where you want to display it. Show and hide it as you need. -->
    <div id="cp_container_1" class="cp-container">
      <div class="cp-buffer-holder"> <!-- .cp-gt50 only needed when buffer is > than 50% -->
        <div class="cp-buffer-1"></div>
        <div class="cp-buffer-2"></div>
      </div>
      <div class="cp-progress-holder"> <!-- .cp-gt50 only needed when progress is > than 50% -->
        <div class="cp-progress-1"></div>
        <div class="cp-progress-2"></div>
      </div>
      <div class="cp-circle-control"></div>
      <ul class="cp-controls">
        <li><a class="cp-play" tabindex="1">play</a></li>
        <li><a class="cp-pause" style="display:none;" tabindex="1">pause</a></li> <!-- Needs the inline style here, or jQuery.show() uses display:inline instead of display:block -->
      </ul>
    </div>
  </div>
</div>
<!-- PLAYER END-->
</div>
<!-- SCREENS END -->





<script>

  $( document ).ready(function() {

    $("#brandHelloMusic").on('click',function(){
      $('#mainContainer').load( "home/welcome" );
    });

    $("#navMusic").on('click',function(){

      $('#mainContainer').load( "home/music" );

    });

    $("#btnLogout").on('click',function(){
      window.location.replace("/");
    });

    $('#mainContainer').load( "home/welcome" );

  });

  



</script>