<% @body_class = 'index' %>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container">

    <a id="brandHelloMusic" class="navbar-brand active" href="#">HelloMusic</a>

    <ul class="nav navbar-nav">
      <li class=""><a id="navMusic" href="#">Music</a></li>
      <li class=""><a id="navNews" href="#">News</a></li>
      <li class=""><a id="navStats" href="#">Stats</a></li>
    </ul>

    <ul class="nav pull-right" style="padding-right:30px; padding-top:8px;">
      <li><button id="btnLogout" class="btn btn-default" >Logout</button></li>
    </ul>
        
    </div><!-- /.navbar-inner -->

  </div><!-- /.navbar -->
</nav>

<div id="mainContainer" class="container">
</div>

<script>

  $( document ).ready(function() {

    $("#brandHelloMusic").on('click',function(){
      $('#mainContainer').load( "home/welcome" );
    });

    $("#navMusic").on('click',function(){

      $('#mainContainer').load( "home/music" );

    });

    $("#btnLogout").on('click',function(){
      window.location.replace("/");
    });

    $('#mainContainer').load( "home/welcome" );

  });

  



</script>