<% @body_class = 'index' %>
<div class="row">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container">

    <a id="brandHelloMusic" class="navbar-brand active" href="#">HelloMusic</a>

    <ul class="nav navbar-nav">
      <li class=""><a id="navMusic" href="#">Music</a></li>
      <li class=""><a id="navNews" href="#">News</a></li>
      <li class=""><a id="navStats" href="#">Stats</a></li>
    </ul>

    <ul class="nav pull-right" style="padding-right:30px; padding-top:8px;">
      <li><button id="btnLogout" class="btn btn-default" >Logout</button></li>
    </ul>
        
    </div><!-- /.navbar-inner -->

  </div><!-- /.navbar -->
</nav>
</div>

<div class='row' id="home">
  <div class="col-xs-1">
    <div id="sidebarLeft">
      <label class="left" >Left</label>
    </div>
  </div>
  <div class="col-xs-10">
    <div id="stage">
      <div id="loginAbout" class="jumbotron" data-scene="0" data-layer="0">
        <h1>Hello, world! 1 </h1>
      </div>
      <div  id="loginWelcome" class="jumbotron"  data-scene="1" data-layer="0">
        <h1>Hello, world! 2 </h1>
      </div>
      <div id="loginExtra" class="jumbotron" data-scene="2" data-layer="0">
        <h1>Hello, world! 3 </h1>
      </div>
    </div>
  </div>
  <div class="col-xs-1">
    <div id="sidebarRight">
      <label  class="right" >Right</label>
    </div>
  </div>
</div>

<script>

  $( document ).ready(function() {

    $("#brandHelloMusic").on('click',function(){
      $('#mainContainer').load( "home/welcome" );
    });

    $("#navMusic").on('click',function(){

      $('#mainContainer').load( "home/music" );

    });

    $("#btnLogout").on('click',function(){
      window.location.replace("/");
    });

    $('#mainContainer').load( "home/welcome" );

  });

  



</script>