<!--  <div class="jumbotron">
    <h1>HelloMusic Store</h1>
	<p>A fun place to hangout and listen to some great music!</p>
</div>		 -->
<div id="landingContent">

	<div class='row'>
		<div id="landing_header">
			<h1>Welcome to your world of Music.</h1>
		</div>
		<video  loop id='landing_video' class="video-js" data-setup='{"autoplay": true}'><source src="/assets/landing_vid.webm" type="video/webm"/></video>
	</div>
</div>
