<div id="music" class="container-fluid">
  <div class="row">

	<div class="row">
		<div class="col-xs-2">
			<ul class="nav nav-pills nav-stacked">
			  <li class="active"><a href="#">Latest</a></li>
			  <li><a href="#">Trending</a></li>
			  <li><a href="#">Artists</a></li>
			  <li><a href="#">Albums</a></li>
			  <li><a href="#">Songs</a></li>
			</ul>
		</div>
		<div id="results" class="col-xs-10"></div>
	</div>

  </div>
</div>

<script> 

$('#results').load( "songs" );

$("#navMusic").on('click',function(){


});

$( document ).ready(function() {



});

</script>