<!--  <div class="jumbotron">
    <h1>HelloMusic Store</h1>
	<p>A fun place to hangout and listen to some great music!</p>
</div>		 -->
<div id="landingContent">
	<div id="gradient"></div>
	<%= render partial: 'signup' %>
	<div class='row'>
	  <div class="col-md-12">
		<video  loop id='landing_video' class="video-js" data-setup='{"autoplay": true}'><source src="/assets/landing_vid.webm" type="video/webm"/></video>
	  </div>
	</div>
</div>
