<div id="landing_signup">
  <div class="field">
    <label>Password</label>
    <input type="text" data-sign="password">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" data-sign="email">
  </div>
  <div class="field">
    <label>Address Line 1</label>
    <input type="text" data-sign="address_line_1">
  </div>
  <div class="field">
    <label>Address line 2</label>
    <input type="text" data-sign="address_line_2">
  </div>
  <div class="field">
    <label>Address line 3</label>
    <input type="text" data-sign="address_line_3">
  </div>
  <div class="field">
    <label>Postcode</label>
    <input type="text" data-sign="postcode">
  </div>
  <div class="field">
   <label>Phone</label>
    <input type="text" data-sign="phone">
  </div>
  <div class="field">
    <label>First name</label>
    <input type="text" data-sign="first_name">
  </div>
  <div class="field">
    <label>Last name</label>
    <input type="text" data-sign="last_name">
  </div>
  <div class="field">
    <label>Gender</label>
   <input type="text" data-sign="gender">
  </div>
  <div class="field">
   <label>Date of birth</label>
   <input type="text" data-sign="date_of_birth">
  </div>
  <div class="actions">
    <button class="btn btn-large btn-primary">Sign up!</button>
  </div>
</div>
