<!-- <div id="landing_signup"></div> -->
<div id="landing_signup" class="row">

  <div class="col-xs-6">

    <h1>Register for Unlimited Access</h1>

     <form role="form">

      <div class="field form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email Address" data-sign="email">
        <p class="help-block">This will be your username for the HelloMusic application</p>
      </div>

      <div class="field form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" data-sign="password">
        <p class="help-block">Please use a strong password to keep your account secure</p>
      </div>
      
      <div class="field">
        <label>First name</label>
        <input type="text" data-sign="first_name" class="form-control">
      </div>
      <div class="field">
        <label>Last name</label>
        <input type="text" data-sign="last_name" class="form-control">
      </div>

      

      <div class="field">
       <label>Date of birth</label>
       <input type="text" data-sign="date_of_birth" class="form-control">
      </div>

      <div class="field form-group">
        <label>Gender</label>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Male
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Female
          </label>
        </div>
      </div>
      <div class="actions">
        <button class="btn btn-large btn-primary">Sign up!</button>
      </div>
      
  </form>

  </div>

      <div class="jumbotron col-xs-6">
    <h1>HelloMusic Store</h1>
    <p>A fun place to hangout and listen to some great music!</p>
  </div>

</div>