<% @body_class = 'index' %>
<div id="pageWrapper">
<div class='row'>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    

    <div class="container">
      <a id="brandHelloMusic" class="navbar-brand active" href="#">HelloMusic</a>
      <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav navbar-right">
          <li>&nbsp;</li>
          <li><p class="navbar-text">Welcome to your world of Music</p></li>
          <li>
            <div id="divLoginDropdown" class="dropdown">
                <button id="btnToggleLoginDropDown" type="button" class="btn btn-default navbar-btn" data-toggle="dropdown">Login</button>

                <div class="dropdown-menu" style="padding: 10px; background: #ddd">
                    <form action="" role="form">
                        <div class="form-group">
                            <label for="user">User</label>
                            <input type="text" class="form-control" id="user" placeholder="User">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                      <button id="btnLogin" type="button" class="btn btn-default">Sign in</button>
                  </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div><!-- /.navbar-inner -->
  </nav>
</div><!-- /.navbar -->
<div class="row">
  <div id="mainContainer" class="container"></div>
</div>
<div class="row">
  <div id="footer" class="container">
</div>
</div>
<%= render partial: 'landing' %>

</div>