<div class='row'>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
     
      <div class="navbar-header">
        <a id="brandHelloMusic" class="navbar-brand" href="#">HelloMusic</a>
      </div>

      <ul class="nav pull-right" style="padding-right:30px; padding-top:8px;">
        <li><button id="btnLogout" class="btn btn-default" >Logout</button></li>
      </ul>

     <div class="navbar-collapse collapse adminContainer">
        <ul class="nav navbar-nav">
          <li class="active"><a id="nav_manage_songs" href="/songs">Manage Songs</a></li>
          <li class=""><a id="nav_admin_manage_users" href="/users">Manage Users</a></li>
          <li class=""><a id="nav_reports" href="#">Reporting</a></li>
        </ul>
      </div>
      
    </div><!-- /.container -->

  </nav>
</div>

<%= render partial: 'songs' %>
<%= render partial: 'users' %>