<div class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div id="topmenu">
          <a class="navbar-brand" href="#">Hello Music</a>
                    <ul class="dropdown clearfix gradient">
                        <li class="menu-level-0 first"><a href="#" hidefocus="true" style="outline: none;" class="gradient"><span>Home</span></a></li>
                        <li class="menu-level-0 parent"><a href="#" hidefocus="true" style="outline: none;" class="gradient"><span>About</span></a>
                            <ul class="submenu-1">
                                <li class="menu-level-1 first"><a href="#" hidefocus="true" style="outline: none;" class="gradient">Web design</a></li>
                                <li class="menu-level-1"><a href="#" hidefocus="true" style="outline: none;" class="gradient">User interface</a></li>
                                <li class="menu-level-1 last parent"><a href="#" hidefocus="true" style="outline: none;" class="gradient">Social media</a>
                                    <ul class="submenu-2">
                                        <li class="menu-level-2 first"><a href="#" hidefocus="true" style="outline: none;" class="gradient">Gallery images</a></li>
                                        <li class="menu-level-2"><a href="#" hidefocus="true" style="outline: none;" class="gradient">OneByOne Slider</a></li>
                                        <li class="menu-level-2"><a href="#" hidefocus="true" style="outline: none;" class="gradient">Video in header</a></li>
                                        <li class="menu-level-2 last"><a href="#" hidefocus="true" style="outline: none;" class="gradient">Video Slider</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-level-0 last"><a href="#" hidefocus="true" style="outline: none;" class="gradient"><span>Contacts</span></a></li>
                    </ul>
                </div>
</div>