/* STATIC  */
 @font-face { font-family: BlueJulyB; src: url('/assets/bluejuly.ttf'); } 

html {
    overflow-y: hidden;
    height: 100%;
}


body{
width: 100%;
height: 100%;
position:relative;
}

#brandHelloMusic{
  font-family: BlueJulyB;
  font-size: 33px;
}

#gradient{
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  width: 101%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

html::-webkit-scrollbar { 
    display: none; 
}
.nav-fillpath{
  z-index:999;
}

#home{
  position:relative;
  left:0px;
  margin:0px;
}
#sidebarLeft{
  position:absolute;
  left:50px;
  top:450px;
  z-index:999;
}

#sidebarLeft label{
  position: fixed;
  left: 15px;
  background-size: contain;
  background-image:url('/assets/leftA.gif') ;
  width: 60px;
  height: 60px;
  z-index:999;


}

#sidebarRight{
  position:absolute;
  top:450px;
  right:50px;
  z-index:999;
}

#sidebarRight label{
  position: fixed;
  right: 15px;
  background-size: contain;
  background-image:url('/assets/rightA.gif') ;
  width: 60px;
  height: 60px;
  z-index:999;
}



/* LOGIN SCREEN */
#home{
  position:relative;
  width:100%;
  height:100%;
}


#stage{
  position:absolute;
  left:0px;
  width:inherit;
  margin:inherit;
}


#loginAbout{
  position: fixed;
  left: -921px;
  z-index: 997;
  /*background-color: BLUE;*/
  background-image: url('/assets/pic1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 2251px;
  height: 969px;
  top: 50px;
}

#loginWelcome{
  position: fixed;
  left: 1330px;
  z-index: 997;
  /*background-color: RED;*/
  background-image: url('/assets/pic2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 2748px;
  height: 969px;
  top: 50px;
}

#loginExtra{
  position: fixed;
  z-index: 997;
  background-image: url('/assets/pic3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 50px;
  left: 4079px;
  width: 1842px;
  height: 969px;
}

#cp_container_1{
  z-index: 999;
}

#lib{
  font-family: BlueJulyB;
  color: WHITE;
  width: 70%;
  height: 70%;
  padding: 39px;
  z-index: 999;
  max-height: 97%;
  height: 100%;
}

#lib_searchBar{
}

#lib_searchBar label {
  font-size: 22px;
  padding-left: 58px;
}

#lib_results {
  margin-top: 30px;
  height: 100%;
  max-height: 92%;
  max-width: 65%;
  width: 100%;
  overflow-y:auto;
}

#lib_results img{
  width:154px;
  height:154px;  
  border-radius: 20%;
}

#lib_results ul{
  list-style: none;
  display: inline-flex;  
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

#lib_results li{
 margin: 0 0 3px 100px;
}

.album_info ol{
  text-decoration: none;
  list-style: inherit;
}

#player_info{
  z-index: 100000;
  background-color: RED;
  width: 200px;
  height: 200px;
}

.edit_profile_container{
  left:20;
}