#landingContent{
	position:relative;
	height:100%;
	width:100%;
}
#landing_header{
	position:relative;
	height:100%;
	width:100%;
	z-index:99;
}

#landing_video {
	position:relative;
	height:100%;
	width:100%;
}

#landing_video video{
	position: fixed;
	height: 1039px;
	left: -155px;
	width: 2155px;
}

#landing_signup{
	font-family: BlueJulyB;
	position: fixed;
	z-index: 1000;
	color:WHITE;
	left:60px;
}
#landing_signup .col-xs-6{
	position: relative;
	width: 47%;
	height: 100%;
}

#landing_signup h1{
	text-decoration: underline;
}

#landing_signup label{
	font-weight: bold;
	font-size: 25px;
}

.jumbotron{
	position:relative;
	font-family: BlueJulyB;
	margin-bottom: 0px;
	height: 50%;
	width: 50%;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	background: transparent;
	left: 500px;
}



#gradient{
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	width: 101%;
	height: 100%;
	position: fixed;
	top: 0px;
}