<body style="padding-top: 70px;">

<%= render partial: 'layouts/header' %>
<div class="container">

  <div class="jumbotron">
    <h1>HelloMusic Store</h1>
    <p>A fun place to hangout and listen to some great music!</p>
  </div>

</div> <!-- /container -->

<script> 

  $(function() {
  
    // Setup drop down menu
    $('.dropdown-toggle').dropdown();
 
    // Fix input element click problem
    $('.dropdown input, .dropdown label').click(function(e) {
      e.stopPropagation();
    });
  
  });

</script>
</body>
